.pstyle{
    background: yellow;
}
.myClass{
    background: yellow;
}
.evenListen{
    color:blue;
}
.mouseover{
    color: red;
}
.mouseEvent{
    background-color: aqua;
    height: 200px;
   
}
.dragDiv{
    height: 10rem;
    width: 10rem;
    background-color: greenyellow;
}